.CSSLoader_ThemeSettingsModal_ToggleParent {
  width: 90%;
}

.CSSLoader_ThemeSettingsModal_Title {
  font-weight: bold;
  font-size: 2em;
}

.CSSLoader_ThemeSettingsModal_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.CSSLoader_ThemeSettingsModal_Header {
  display: flex;
}

.CSSLoader_ThemeSettingsModalHeader_DialogButton {
  width: fit-content !important;
  min-width: fit-content !important;
  height: fit-content !important;
  padding: 10px 12px !important;
}

.CSSLoader_ThemeSettingsModal_IconTranslate {
  transform: translate(0px, 2px);
}
