.gamepaddialog_ToggleRail_2bl0i::before {
	background: orange !important;
}

.gamepadslider_SliderTrack_2_vG6::before {
    background: orange !important;
}

.gamepadslider_TickActive_j418S {
	background: orange !important;
} 

.appdetailsfriendssection_FriendsPlayingNowBadge_38sNQ {
	background: orange !important;
	color: black !important;
}

.mainmenu_ActiveDot_1uLVH {
	background: orange !important;
}