.gamepaddialog_ToggleRail_2bl0i::before {
	background: orange !important;
}

.gamepadslider_SliderTrack_2_vG6::before {
    background: orange !important;
}

.gamepadslider_TickActive_j418S {
	background: orange !important;
} 