.gamepadhomerecentgames_RecentGamesInnerContainer_282X0 {
    margin-top: 103px;
}

.basicgamecarousel_CarouselGameLabelWrapper_ZkD6W {
    margin-top: -265px;
}

.basicgamecarousel_BasicGameCarousel_3MdH5 {
    padding-top: 55px;
}

.gamepadhomerecentgames_RecentGamesHeader_35iRe {
    display: none;
}