.cssgrid_CSSGrid_3vHkm.appgrid_YourCollection_11p6F.Panel.Focusable {
    grid-template-columns: repeat(auto-fill, 118px) !important;
    grid-auto-rows: 177px !important;
    gap: 16px 16px !important;
}

.cssgrid_Container_DGRkX.Panel.Focusable {
    height: fit-content !important;
}