:root {
	--main-color: orange;
	--friends-text-color: black;
}

.gamepaddialog_ToggleRail_2JtC3::before {
	background: var(--main-color) !important;
}

.gamepadslider_SliderTrack_Mq25N::before {
    background: var(--main-color) !important;
}

.gamepadslider_TickActive_1gnUV {
	background: var(--main-color) !important;
} 

.appdetailsfriendssection_FriendsPlayingNowBadge_38sNQ {
	background: var(--main-color) !important;
	color: var(--friends-text-color) !important;
}

.mainmenu_ActiveDot_1uLVH {
	background: var(--main-color) !important;
}

.appactionbutton_PlayButton_3ydig.gpfocus {
	background: var(--main-color) !important;
	color: var(--friends-text-color) !important;
}

.appactionbutton_PlayButton_3ydig.gpfocus > .appactionbutton_ButtonText_33cnX {
	color: var(--friends-text-color) !important;
}

.appportrait_AppPortraitBanner_N8aJr {
	background-color: var(--main-color) !important; 
	color: var(--friends-text-color) !important;
  }

.appportrait_UninstalledBar_kX-tI .appportrait_UninstalledProgressBar_mA39H {
	background-color: var(--main-color) !important;
}

.header_HeaderDownloadContainer_2ssr3 .header_HeaderAppPortraitContainer_1PbL3 .header_HeaderDownloadProgressBarBackground_vo3Tt .header_HeaderDownloadProgressBar_AK_Ax {
	background-color: var(--main-color) !important;
}

.appdetailsplaysection_DetailsProgressBar_1FnTq {
	background-color: var(--main-color) !important;
}

.downloads_State_2ns4w {
	color: var(--main-color) !important;
}

.downloads_Button_3oavR {
	background: var(--main-color) !important;
}

.downloads_Button_3oavR > svg {
	color: var(--friends-text-color) !important;
}

.progressbar_Percent_2_0Jo {
	background: var(--main-color) !important;
}